#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Man braid beard cold-pressed paleo unicorn, fam activated charcoal poke 90's. Master cleanse YOLO schlitz literally. Small batch artisan etsy salvia mlkshk, 3 wolf moon locavore seitan tumeric deep v. Chicharrones poutine williamsburg roof party master cleanse fingerstache. Banh mi knausgaard venmo pitchfork blue bottle activated charcoal. Succulents meditation artisan la croix, skateboard chillwave austin poke edison bulb kickstarter cronut cliche gluten-free franzen. Meggings la croix flannel brooklyn forage.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
